# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional Compiled Object files
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
firmware/
include/
common.mk
compile_commands.json
temp.log
temp.errors
Makefile
project.pros
*.ini
.d/